
SERVERS                                      : main
main.CLASS				     : com.mortbay.HTTP.HttpServer
main.STACKS				     : root
main.LISTENER.all.CLASS                      : com.kiwiconsulting.jetty.JettyJavaSSLHttpListener
main.LISTENER.all.ADDRS                      : 0.0.0.0:4233
main.root.PATHS			             : /
main.root.HANDLERS		             : Param;Servlet;NotFound
main.root.EXCEPTIONS		             : Default
main.root.Param.CLASS			     : com.mortbay.HTTP.Handler.ParamHandler
main.root.Servlet.CLASS		             : com.mortbay.HTTP.Handler.ServletHandler
main.root.Servlet.PROPERTY.SERVLET.Dump.CLASS: com.mortbay.Servlets.Dump
main.root.Servlet.PROPERTY.SERVLET.Dump.PATHS: /
main.root.NotFound.CLASS		     : com.mortbay.HTTP.Handler.NotFoundHandler
main.root.Default.CLASS			     : com.mortbay.HTTP.Handler.DefaultExceptionHandler


