BODY
{
        font-family: san-serif,Helvetica,Arial;
        background-color: #FFFFFF;
}

P, BODY, TD, OL, UL, MENU, BLOCKQUOTE, DIV
{
        font-size: small;
        color: #000000;
}

TH, H1, H2, H3
{
        font-weight: bold;
        text-decoration: none;
	color: #3333cc;
}

PRE
{
        font-family: Courier New, Courier;
}

a.hdr 
{ 
  text-decoration: none; 
  font-weight: bold;
  color: #999999;
}

a.selhdr
{
  text-decoration: none; 
  font-weight: bold;
  color: #ff6600;
}

a.menu
{  
  text-decoration: none; 
  font-weight: normal;
  font-size: small;
  color: #3333ff; 
}

a.selmenu
{
  text-decoration: none; 
  font-weight: normal;
  font-size: small;
  color: #ff6600;
}


a.menu:link { color: #3333ff }
a.menu:visited { color: #3333ff }
a.menu:hover { color:  #ff6600}
a.menu:active {color: #3333ff }

a.selmenu:link {color: #ff6600 }
a.selmenu:visited { color: #ff6600 }
a.selmenu:hover  { color:  #ff6600}
a.selmenu:active {color: #ff6600 }

a.hdr:link {color: #ffffff }
a.hdr:visited {color: #ffffff }
a.hdr:hover  { color:  #ff6600 }
a.hdr:active {color: #ffffff }


a.selhdr:link {color: #ff6600 }
a.selhdr:visited { color: #ff6600 }
a.selhdr:hover  { color:  #ff6600 }
a.selhdr:active {color: #ff6600 }

A:link { color: #3333ff }
A:visited { color: #3333ff }
A:hover { color: #ff6600 } 
A:active { color: #3333ff } 

A
{
        color:#3333ff;
        font-weight: none;
        text-decoration: none;
}

P.study
{
        font-family: sans-serif;
        color: black;
        text-align: left;
        border-style: dotted;
        border-bottom-width: 3px;
        border-top-width: 3px;
        border-left-width: 3px;
        border-right-width: 3px;
        border-color: blue;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

span.term { 
    font-weight: bold; 
}

div.sidebar { 
    background: #F0F0F0; 
    border: 1px solid gray; 
    padding: 5px; 
    margin: 20px; 
}

pre.programlisting { 
    background: #F0F0F0; 
    border: 1px solid gray; 
    padding: 2px; 
    font-size: 10pt;
    white-space: pre;
}
