BODY
{
        font-family: san-serif,Helvetica,Arial;
        background-color: #FFFFFF;
}

P, BODY, TD, OL, UL, MENU, BLOCKQUOTE, DIV
{
        font-size: small;
        color: #000000;
}

TH, H1, H2, H3
{
        font-weight: bold;
        text-decoration: none;
	color: #3333ff;
}

PRE
{
        font-family: Courier New, Courier;
}

a.hdr 
{ 
  text-decoration: none; 
  font-weight: bold;
  color: #999999;
}

a.selhdr
{
  text-decoration: none; 
  font-weight: bold;
  color: #ff6600;
}

a.menu
{  
  text-decoration: none; 
  font-weight: bold;
  font-size: smaller;
  color: #3333ff; 
}

a.selmenu
{
  text-decoration: none; 
  font-weight: bold;
  font-size: smaller;
  color: #ff6600;
}


a.menu:link { color: #3333ff }
a.menu:visited { color: #3333ff }
a.menu:hover { color:  #ff6600}
a.menu:active {color: #3333ff }

a.selmenu:link {color: #c0c0c0 }
a.selmenu:visited { color: #c0c0c0 }
a.selmenu:hover  { color:  #c0c0c0}
a.selmenu:active {color: #c0c0c0 }

a.hdr:link {color: #ffffff }
a.hdr:visited {color: #ffffff }
a.hdr:hover  { color:  #ff6600 }
a.hdr:active {color: #ffffff }


a.selhdr:link {color: #c0c0c0 }
a.selhdr:visited { color: #c0c0c0 }
a.selhdr:hover  { color:  #c0c0c0 }
a.selhdr:active {color: #c0c0c0 }

A:link { color: #3333ff }
A:visited { color: #3333ff }
A:hover { color: #ff6600 } 
A:active { color: #3333ff } 

A
{
        color:#3333ff;
        font-weight: none;
        text-decoration: none;
}
