BODY
{
        background-color: #FFFFFF;
}

P, BODY, TD, OL, UL, MENU, BLOCKQUOTE, DIV
{
        font-family: Helvetica,Arial,Lucida;
        color: #000000;
}

TH, H1
{
        font-family: Helvetica,Arial,Lucida;
        font-weight: bold;
        text-decoration: none;
}

A
{
        font-family: Helvetica,Arial,Lucida;
        color: #606CC0;
        font-weight: bold;
        text-decoration: none;
}

PRE
{
        font-family: Courier New, Courier;
}






