# This file controls what file are to be put on classpath or command line.
#
# Format is as follows:
# Each line contains entry for one JAR file.
# Format of line:
#
#  <subject> [ <space> <condition> ]*
# 
# where <subject> 
#   ends with ".class" is the Main class to run.
#   ends with ".xml" is a configuration file for the command line
#   ends with "/" is a directory from which add all jar and zip files from. 
#   ends with "/*" is a directory from which add all unconsidered jar and zip files from. 
#   all other subjects are treated as files to be added to the classpath.
# Files starting with "/" are considered absolute, all others are relative to
# the home directory.
#
# <condition> is one of:
# always"
# never"
# available <classname>
# !available <classname>
# java  <operator> <version>
# nargs <operator> <number>
#  <operator> := one of "<",">","<=",">=","==","!="
#

jetty.home=.                                     ! exists $(jetty.home)/lib/org.mortbay.jetty.jar 
jetty.home=..                                    ! exists $(jetty.home)/lib/org.mortbay.jetty.jar
jetty.home=/home/jetty                           ! exists $(jetty.home)/lib/org.mortbay.jetty.jar
jetty.home=/C:/jetty                             ! exists $(jetty.home)/lib/org.mortbay.jetty.jar
jetty.home=.                                     ! exists $(jetty.home)/lib/org.mortbay.jetty.jar 

org.mortbay.jetty.Server.class                   

$(jetty.home)/etc/admin.xml                      nargs == 0
$(jetty.home)/etc/demo.xml                       nargs == 0

$(jetty.home)/lib/org.mortbay.jetty.jar          java >= 1.4
$(jetty.home)/lib/org.mortbay.jetty-jdk1.2.jar   java < 1.4 AND java >= 1.2
$(jetty.home)/lib/javax.servlet.jar              
$(jetty.home)/lib/org.mortbay.jmx.jar            

$(jetty.home)/ext/ant.jar                        ! available org.apache.tools.ant.Main
$(jetty.home)/ext/xerces.jar                     ! available javax.xml.parsers.DocumentBuilder
$(jetty.home)/ext/crimson.jar                    ! available javax.xml.parsers.DocumentBuilder
$(jetty.home)/ext/com.sun.net.ssl.jar            ! available javax.net.ssl.SSLServerSocket
$(jetty.home)/ext/javax.xml.jaxp.jar             ! available javax.xml.transform.TransformerFactory
$(jetty.home)/ext/jmxri.jar                      ! available javax.management.MBeanServer
$(jetty.home)/ext/jmxtools.jar                   ! available com.sun.jdmk.comm.CommunicatorServer
$(jetty.home)/ext/jasper-runtime.jar             ! available org.apache.jasper.Constants
$(jetty.home)/ext/jasper-compiler.jar            ! available org.apache.jasper.JspCompilationContext
$(jetty.home)/ext/*                             

/usr/share/java/ant.jar                          ! available org.apache.tools.ant.Main
/usr/share/java/xerces.jar                       ! available javax.xml.parsers.DocumentBuilder
/usr/share/java/crimson.jar                      ! available javax.xml.parsers.DocumentBuilder
/usr/share/java/jmxri.jar                        ! available javax.management.MBeanServer
/usr/share/java/jmxtools.jar                     ! available com.sun.jdmk.comm.CommunicatorServer

$(java.home)/lib/tools.jar                       ! available com.sun.tools.javac.Main
$(java.home)/../lib/tools.jar                    ! available com.sun.tools.javac.Main


