<HTML>
  <HEAD>
    <TITLE>Powered By Jetty</TITLE>
    <META http-equiv="Pragma" content="no-cache">
    <META http-equiv="Cache-Control" content="no-cache,no-store">
  </HEAD>
<BODY>
<A HREF="http://jetty.mortbay.org"><IMG SRC="jetty_banner.gif"></A>
<P>
This is a quick test of two TCK failures:
<ul>
<li><a href="exception/java.lang.IllegalAccessException">Throw IAE with a error page that does not exist. Expect 500 response NOT 404</a>
</li><li>
<a href="exception/501">sendError(501) with an error page. Expect 501 response NOT 200</a>
</li></ul>
