# This file controls what file are to be put on classpath or command line.
#
# Format is as follows:
# Each line contains entry for one JAR file.
# Format of line:
#
#  <subject> [ <space> <condition> ]*
# 
# where <subject> 
#   ends with ".class" is the Main class to run.
#   ends with ".xml" is a configuration file for the command line
#   ends with "/" is a directory from which add all jar and zip files from. 
#   ends with "/*" is a directory from which add all unconsidered jar and zip files from. 
#   all other subjects are treated as files to be added to the classpath.
# Files starting with "/" are considered absolute, all others are relative to
# the home directory.
#
# <condition> is one of:
# "always"
# "never"
# "available" <space> <classname>
# "!available" <space> <classname>
# "java" <space> <operator> <version>
# "nargs" <space> <operator> <number>
#  <operator> := one of "<",">","<=",">=","==","!="
#

org.mortbay.jetty.Server.class      always

etc/admin.xml                       nargs == 0
etc/demo.xml                        nargs == 0

lib/org.mortbay.jetty.jar           java >= 1.4
lib/org.mortbay.jetty-jdk1.2.jar    java < 1.4  java >= 1.2
lib/javax.servlet.jar               always
lib/org.apache.jasper.jar           always
lib/org.mortbay.jmx.jar             always

ext/ant.jar                         !available org.apache.tools.ant.Main
ext/ant-1.5.jar                     !available org.apache.tools.ant.Main
ext/xerces.jar                      !available javax.xml.parsers.DocumentBuilder
ext/crimson.jar                     !available javax.xml.parsers.DocumentBuilder
ext/com.sun.net.ssl.jar             !available javax.net.ssl.SSLServerSocket
ext/javax.xml.jaxp.jar              !available javax.xml.transform.TransformerFactory
ext/jmxri.jar                       !available javax.management.MBeanServer
ext/jmxtools.jar                    !available com.sun.jdmk.comm.CommunicatorServer
ext/*                               always

/usr/share/java/ant.jar             !available org.apache.tools.ant.Main
/usr/share/java/xerces.jar          !available javax.xml.parsers.DocumentBuilder
/usr/share/java/crimson.jar         !available javax.xml.parsers.DocumentBuilder
/usr/share/java/jmxri.jar           !available javax.management.MBeanServer
/usr/share/java/jmxtools.jar        !available com.sun.jdmk.comm.CommunicatorServer
