<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/j2ee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
   version="2.4"> 

  <display-name>Root WebApp</display-name>

  <servlet>
    <servlet-name>Dump</servlet-name>
    <servlet-class>org.mortbay.servlet.Dump</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Dump</servlet-name>
    <url-pattern>/dump/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Dump</servlet-name>
    <url-pattern>*.dump</url-pattern>
  </servlet-mapping>

</web-app>


